{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'notifications/css/notification_card.css' %}">
{% endblock %}

{% block content %}

    <h2 class="title">お知らせ</h2>
    {% for notification in notifications %}
    {% include "notifications/notification_card.html" %}
    {% empty %}
    <div class="empty-notifications">
        <p class="empty-title">まだ通知はありません</p>
        <p class="empty-subtitle">
            あなたへのリアクションがあると、ここに通知が届きます
        </p>

        <div class="notification-item sample">
            <div class="notification-main">
                <span class="icon">
                    <i class="fa-regular fa-comment-dots"></i>
                </span>
                <span class="text">
                    ○○さんが投稿aにコメントしました
                </span>
            </div>
            <div class="notification-date">
                2026/04/12 15:00
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}

