.postcard {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.post-user {
  display: flex;
  align-items: center;
  padding: 8px;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.thumbnail-link,
.post-title-link {
  display: block;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  display: block;
}

.post-info a {
  text-decoration: none; /* 下線消す */
  color: inherit;        /* 親と同じ文字色にする */
}

.post-info {
  padding: 8px;
}

.post-stats {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  font-size: 14px;
  color: #555;
}

.post-stats form{
  margin-left: auto;
}

.post-stats .save-btn {
  background: transparent;
  border: none;
  padding: 0;

  appearance: none;
  -webkit-appearance: none;

  outline: none;
}