{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'posts/css/create_post.css' %}">
{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data" class="create-post-form">
{% csrf_token %}


<div class="form-group">
    <label>
    {{ edit_post_form.title.label }}
    {% if edit_post_form.title.field.required %}
        <span class="required">*</span>
    {% endif %}
    </label>
    <div class="input-area">
        {{ edit_post_form.title }}
        <div class="error-message">{{ edit_post_form.title.errors }}</div>
    </div>
</div>

<div class="form-group">
    <label>
        {{ edit_post_form.parent_category.label }}
        {% if edit_post_form.title.field.required %}
            <span class="required">*</span>
        {% endif %}
    </label>
    <div class="input-area">
        {{ edit_post_form.parent_category }}
        <div class="error-message">{{ edit_post_form.parent_category.errors }}</div>
    </div>
</div>

<div class="form-group">
    <label>
    {{ edit_post_form.category.label }}
    {% if edit_post_form.category.field.required %}
        <span class="required">*</span>
    {% endif %}
    </label>
    <div class="input-area">
        {{ edit_post_form.category }}
        <div class="error-message">{{ edit_post_form.category.errors }}</div>
    </div>
</div>

<div class="form-group">
    <label>サムネイル</label>
    <div class="input-area">
        {{ edit_post_form.thumbnail }}

        <img
            id="thumbnailPreview"
            class="preview-img"
            {% if post.thumbnail %}
                src="{{ post.thumbnail.url }}"
                style="display:block;"
            {% endif %}
        >

        <div class="error-message">{{ edit_post_form.thumbnail.errors }}</div>
    </div>
</div>

<div class="form-group">
    <label>動画</label>
    <div class="input-area">
        {{ edit_post_form.video }}

        <video
            id="videoPreview"
            class="preview-video"
            controls
            {% if post.video %}
                style="display:block;"
            {% endif %}
        >
            {% if post.video %}
                <source src="{{ post.video.url }}">
            {% endif %}
        </video>

        <div class="error-message">{{ edit_post_form.video.errors }}</div>
    </div>
</div>

<div class="form-group">
    <label>
    {{ edit_post_form.content.label }}
        {% if edit_post_form.content.field.required %}
            <span class="required">*</span>
        {% endif %}
    </label>
    <div class="input-area">
        {{ edit_post_form.content }}
        <div class="error-message">{{ edit_post_form.content.errors }}</div>
    </div>
</div>

<div class="form-group">
<label>
    {{ edit_post_form.description.label }}
</label>
    <div class="input-area">
        {{ edit_post_form.description }}
        <div class="error-message">{{ edit_post_form.description.errors }}</div>
    </div>
</div>

<input type="submit" value="更新する" class="confirm-btn">

</form>

{% endblock %}

{% block extra_js %}
<script src="{% static 'posts/js/create_post.js' %}"></script>
{% endblock %}