{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'posts/css/post_detail.css' %}">
{% endblock %}

{% block content %}

<div class="post-detail">

    <div class="maincontent">

        <div class="video-wrapper">
            <video controls src="{{ post.video.url }}"></video>
        </div>

        <div class="post-meta">
            <h1 class=post-title>{{ post.title }}</h1>
            <h3 class=post-category>{{ post.category }}</h3>
        </div>

        <div class="post-header">
            <div class="post-user">
                <img src="{{ post.user.profile_image.url }}" class="user-icon" alt="ユーザーアイコン">
                <span class="username">{{ post.user.username }}</span>

                {% if request.user == post.user %}

                    <a href="{% url 'posts:edit_post' post.id %}">編集</a>
                    <button  
                        class="open-delete-modal" 
                        data-url="{% url 'posts:post_delete' post.id %}"
                        data-text="この投稿を削除しますか？"
                        data-content="{{ post.title | truncatechars:30}}"
                    >
                        削除
                    </button>
                        
                {% endif %}
            </div>

            <div class="post-stats">
                <form action="{% url 'posts:toggle_help' post.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="help-btn">
                        {% if user in post.helped_users.all %}
                        <i class="fas fa-thumbs-up"></i>
                        {% else %}
                        <i class="far fa-thumbs-up"></i>
                        {% endif %}
                    </button>
                </form>

                <span class="comment_count">
                    <i class="far fa-comment-dots"></i>
                    <span>{{ post.comment_count }}</span>
                </span>
                <form action="{% url 'posts:toggle_save' post.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="save-btn">
                        {% if user in post.saved_users.all %}
                        <i class="fas fa-bookmark"></i>
                        {% else %}
                        <i class="far fa-bookmark"></i>
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>

        <div class="post-body">
                <p id="post-text" class="collapsed">
                    {{ post.content|linebreaksbr }}
                </p>

                <button id="toggle-btn" class="toggle-btn">
                    もっと見る
                </button>
        </div>

        <div class="supplement">
           <div class="supplement_create">
                <h3>補足説明</h3>

                <form method="post" action="{% url 'posts:supplement_create' post.id %}" class="supplement-form">
                    {% csrf_token %}
                    {{ supplement_form.content }}
                    <button type="submit">補足を送信</button>
                </form>
           </div> 
        </div>
        <div class="supplement-list">
            {% for supplement in supplements %}
            <div class="supplement-item">
                <img src="{{ post.user.profile_image.url }}"
                    class="supplement-user-icon"
                    alt="ユーザーアイコン">

                <div class="supplement-content">
                    <div class="supplement-meta">
                        <span class="supplement-username">{{ post.user.username }}</span>
                        <small>{{ supplement.create_at }}</small>
                    </div>

                    <p class="supplement-text">
                        {{ supplement.content }}
                    </p>

                    <div class="supplement-actions">
                        <button class="reply-btn" data-id="{{ supplement.id }}">
                            返信
                        </button>

                        {% if request.user == supplement.user %}
                        <button  
                            class="open-delete-modal" 
                            data-url="{% url 'posts:supplement_delete' supplement.id %}"
                            data-text="この補足説明を削除しますか？"
                            data-content="{{ supplement.content | truncatechars:30 }}"
                        >
                            削除
                        </button>
                        {% endif %}
                    </div>

                    <form method="post" class="supplement-reply-form">
                        {% csrf_token %}
                        {{ supplement_reply_form.content }}
                        <button type="submit">送信</button>
                    </form>

                    <div class="supplement-replies">
                        {% for supplement_reply in supplement.supplement_replies.all %}
                        <div class="supplement-reply-item">
                            <img src="{{ supplement_reply.user.profile_image.url }}"
                                class="reply-user-icon"
                                alt="ユーザーアイコン">

                            <div class="reply-body">
                                <div class="reply-meta">
                                    <span class="reply-username">
                                        {{ supplement_reply.user.username }}
                                    </span>
                                    <small class="reply-date">
                                        {{ supplement_reply.create_at }}
                                    </small>
                                </div>
                            </div>
                            
                            <p class="supplement-reply-text">
                            {{ supplement_reply.content }}
                            </p>

                            {% if request.user == supplement_reply.user %}
                            <button 
                                class="open-delete-modal" 
                                data-url="{% url 'posts:supplement_reply_delete' supplement_reply.id %}"
                                data-text="この返信を削除しますか？"
                                data-content="{{ supplement_reply.content | truncatechars:30 }}"
                            >
                                削除
                            </button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% empty %}
                <p>まだ補足説明はありません</p>
            {% endfor %}
        </div>
        <div class="comment">
           <div class="comment_create">
                <h3>コメント</h3>

                <form method="post" action="{% url 'posts:comment_create' post.id %}" class="comment-form">
                    {% csrf_token %}
                    {{ comment_form.content }}
                    <button type="submit">送信</button>
                </form>
           </div> 
        </div>
        <div class="comment-list">
            {% for comment in comments %}
            <div class="comment-item">
                <img src="{{ post.user.profile_image.url }}"
                    class="comment-user-icon"
                    alt="ユーザーアイコン">

                <div class="comment-content">
                    <div class="comment-meta">
                        <span class="comment-username">{{ post.user.username }}</span>
                        <small>{{ comment.create_at }}</small>
                    </div>

                    <p class="comment-text">
                        {{ comment.content }}
                    </p>

                    <div class="comment-actions">
                        <button class="reply-btn" data-id="{{ comment.id }}">
                            返信
                        </button>

                        {% if request.user == comment.user %}
                        <button  
                            class="open-delete-modal" 
                            data-url="{% url 'posts:comment_delete' comment.id %}"
                            data-text="この補足説明を削除しますか？"
                            data-content="{{ comment.content | truncatechars:30 }}"
                        >
                            削除
                        </button>
                        {% endif %}
                    </div>

                    <form method="post" class="comment-reply-form">
                        {% csrf_token %}
                        {{ comment_reply_form.content }}
                        <button type="submit">送信</button>
                    </form>

                    <div class="comment-replies">
                        {% for comment_reply in comment.comment_replies.all %}
                        <div class="comment-reply-item">
                            <img src="{{ comment_reply.user.profile_image.url }}"
                                class="reply-user-icon"
                                alt="ユーザーアイコン">

                            <div class="reply-body">
                                <div class="reply-meta">
                                    <span class="reply-username">
                                        {{ comment_reply.user.username }}
                                    </span>
                                    <small class="reply-date">
                                        {{ comment_reply.create_at }}
                                    </small>
                                </div>
                            </div>
                            
                            <p class="comment-reply-text">
                            {{ comment_reply.content }}
                            </p>

                            {% if request.user == comment_reply.user %}
                            <button 
                                class="open-delete-modal" 
                                data-url="{% url 'posts:comment_reply_delete' comment_reply.id %}"
                                data-text="この返信を削除しますか？"
                                data-content="{{ comment_reply.content | truncatechars:30 }}"
                            >
                                削除
                            </button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% empty %}
                <p>まだコメントはありません</p>
            {% endfor %}
        </div>
    </div>

    <div class="side-content">

    </div>

</div>
<div id="delete-modal" class="modal hidden">
    <div class="modal-content">
        <button class="close-btn" type="button">×</button>

        <p class="modal-text">本当に削除しますか？</p>
        <p class="modal-subtext"></p>

        <form method="post" id="delete-form">
            {% csrf_token %}
            <button type="submit" class="confirm-delete">
                削除
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'posts/js/post_detail.js' %}"></script>
{% endblock %}