{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'posts/css/post_grid.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/post_card.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/my_action.css' %}">
{% endblock %}

{% block content %}
<h2 class="title">あとで見る</h2>

  {% if page_obj %}
    <div class="post-grid">
      {% for post in page_obj %}
        {% include "components/post_card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <p class="message">
      まだ「あとで見る」投稿はありません<br>
      気になる投稿を追加してみよう！
    </p>
  {% endif %}

  {% include "components/pagination.html" %}

{% endblock %}