.title {
    text-align: center;
    margin: 10px 0 20px;
}

.form-table {
    margin: 20px auto; 
    border-collapse: collapse;
}

.form-table td {
    padding: 8px 0;
    vertical-align: top;
}

.form-table td:first-child {
    text-align: right;
    padding-right: 15px;
}

.form-table td:nth-child(2) {
    color: red;
}

.form-table td:nth-child(2) ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.submit-btn {
    display: block;
    margin: 20px auto;
    padding: 8px 16px;
    background: #98FB98;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.2s;
  
    border: none;
}

.submit-btn:hover {
  background: #90EE90;
}