.title,
.sub-title,
.message {
    text-align: center;
}

.message {
    margin-top: 50px;
    line-height: 2;
}

.password-reset-form {
    width: 400px;
    margin: 60px auto; 
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-item label {
    width: 140px; 
    font-weight: bold;
    margin-right: 10px;
}

.form-item input {
    flex: 1;
    padding: 6px;
}

.form-actions {
    margin-top: 120px;
    text-align: center;
}

.form-actions .link {
    display: block;
    margin-top: 12px;
}

.password-reset-form .send-btn {
    display: block;
    margin: 30px auto 0;
    padding: 8px 16px;
    background: #98FB98;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.2s;
  
    border: none;
}

.password-reset-form .login-btn:hover {
  background: #90EE90;
}

.error-message {
    color: red;
    white-space: nowrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
}