body {
    margin: 0;
}

.title,
.sub-title {
    text-align: center;
}

.password-reset-form {
    width: 470px;
    margin: 60px auto; 
}

.form-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-group label {
    width: 200px; 
    font-weight: bold;
    margin-right: 20px;
    white-space: nowrap;
    text-align: right;
}

.form-group input {
    width: 240px;
    padding: 6px;
}

.input-area {
    flex: 1;
    display: flex;
    flex-direction: column;            
}

.input-area small {
    display: block;
    font-size: 12px;
    margin-top: 6px;
    max-width: 250px;
    white-space: nowrap;
}

.password-reset-form .regist-btn {
    display: block;
    margin: 30px auto 0;
    padding: 8px 16px;
    background: #98FB98;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.2s;
  
    border: none;
}

.password-reset-form .regist-btn:hover {
  background: #90EE90;
}

.link {
    text-align: center;
    display: block;
    margin-top: 50px;
}

.error-message {
    color: red;
    white-space: nowrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
}

.center-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-title {
    text-align: center;
    color: red;
}

.message {
    text-align: center;
    margin-top: 30px;
}

.message2 {
    text-align: center;
}