.title,
.sub-title,
.message,
.announce {
    text-align: center;
}

.message {
    line-height: 2;
}

.announce {
    width: fit-content;   /* ←文字の塊サイズになる */
    margin: 0 auto;       /* ←その塊を中央へ */
    text-align: left;     /* ←文字は左寄せ */
    margin-top: 50px;
}

.email {
    text-align: center;
    margin: 50px 0 0;
    font-weight: bold;
}

a {
    display: block;
    text-align: center;
    margin-top: 30px;
}