.title {
    text-align: center;
}

.message {
    text-align: center;
}

.login-btn {
    display: block;
    padding: 8px 16px;
    background: #98FB98;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.2s;
    margin: 30px auto 0;
  
    border: none;
}

.login-btn:hover {
  background: #90EE90;
}