.user-edit-form {
    width: 550px;
    margin: 10px auto;
    text-align: center;
}

#id_username {
    width: 20ch;
}

#id_email,
#id_bio {
    width: 100%;
}

.profile-image {
    margin-bottom: 20px;
}

.user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.form-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-group label {
    width: 140px;     
    text-align: right;  
    margin-right: 10px;
    font-weight: bold;
    white-space: nowrap;
}

.required {
    color: red;
}

.form-group textarea {
    width: 100%;
    max-width: 500px;             
    padding: 3;
    resize: none;
}

.input-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.error-message {
    color: red;
    text-align: left;
}

.error-message ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.save-btn {
        display: block;
    margin: 30px auto 0;
    padding: 8px 16px;
    background: #98FB98;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.2s;
  
    border: none;
}

.save-btn:hover {
  background: #90EE90;
}

a {
    display: block;
    text-align: center;
}