<div class="postcard">
    <a href="{% url 'accounts:user_page' post.user.id %}" class="post-user">
    <img src="{{ post.user.get_profile_image }}" class="user-icon" alt="ユーザーアイコン">
    <span class="username">{{ post.user.username }}</span>
    </a>

    {% if login_redirect %}
    <a href="{% url 'accounts:login' %}?next={% url 'posts:post_detail' post.id %}" class="thumbnail-link login" data-type="auth" data-url="{% url 'accounts:login' %}">
    {% else %}
    <a href="{% url 'posts:post_detail' post.id %}" class="thumbnail-link">
    {% endif %}
        <img class="thumbnail" src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
    </a>

    <div class="post-info">
        {% if login_redirect %}
        <a href="{% url 'accounts:login' %}?next={% url 'posts:post_detail' post.id %}" class="post-title-link login" data-type="auth" data-url="{% url 'accounts:login' %}">
        {% else %}
        <a href="{% url 'posts:post_detail' post.id %}" class="post-title-link">
        {% endif %}
            <h3>{{ post.title }}</h3>
        </a>
        <p class="post-category">
            {% if post.category.parent %}
                {{ post.category.parent.name }}：{{ post.category }}
            {% else %}
                {{ post.category }}
            {% endif %}
        </p>
    </div>

    <div class="post-stats">
        <span class="likes">
            <i class="fas fa-thumbs-up"></i>
            <span>{{ post.help_count }}</span>
        </span>

        <span class="comments">
            <i class="far fa-comment-dots"></i>
            <span>{{ post.comment_count }}</span>
        </span>
        <form action="{% url 'posts:toggle_save' post.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="save-btn"
                {% if not user.is_authenticated %}
                    class="save-btn login"
                    data-type="auth"
                    data-url="{% url 'accounts:login' %}"
                {% endif %}
            >
                {% if user in post.saved_users.all %}
                <i class="fas fa-bookmark"></i>
                {% else %}
                <i class="far fa-bookmark"></i>
                {% endif %}
            </button>
        </form>
    </div>
</div>