{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/change-password.css' %}">
{% endblock %}

{% block content %}

<h2 class="title">パスワード変更</h2>

<form method="POST" class="password-form">
  {% csrf_token %}

  <table class="form-table">
    {% for field in password_change_form %}
    <tr>
      <td class="label">{{ field.label }} :</td>
      <td>
        {{ field }}
        {% if field.errors %}
          <div class="error">
            {{ field.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>

  <input type="submit" value="保存" class="submit-btn">
</form>

{% endblock %}