{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'posts/css/post_grid.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/post_card.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/my_page.css' %}">
{% endblock %}
{% block content %}
<div class="my_page">
  <img src="{{ page_user.get_profile_image }}" class="user-icon">

  <table class="profile-table">
      <tr>
        <td>アカウント名</td>
        <td class="colon">:</td>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <td>自己紹介</td>
        <td class="colon">:</td>
        <td>{{user.bio}}</td>
      </tr>
  </table>

  <span class="my-action-title">マイアクション</span>
  <div class="my-action">
    <span>
      <a href="{% url 'posts:saved_post_list' %}"><i class="fas fa-bookmark"></i>あとで見る</a>
    </span>
    <span>
      <a href="{% url 'posts:helped_post_list' %}"><i class="far fa-thumbs-up"></i>役立った</a>
    </span>
  </div>
  <div class="post-action-btn">
    {% if request.user == page_user %}
    <a href="{% url 'accounts:user_edit' %}" class="btn">
      編集
    </a>
    {% endif %}
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-btn">ログアウト</button>
    </form>
  </div>

</div>
<div class="post-grid">
  {% for post in page_obj %}
    {% include "components/post_card.html" %}
  {% endfor %}
</div>
{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page=1">&laquo;</a>
    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
      <span class="current">[{{ num }}]</span>
    {% elif num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
      <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
  {% endif %}
</div>
{% endif %}
{% endblock %}