{% if form %}
    <h1>TipTree</h1>
    <h2>＜パスワード再設定＞</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        <div>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            <small>半角英数字を組み合わせて8字以上50字以内で入力してください</small>
        </div>
        <div>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="登録">
    </form>
{% else %}
    <h1>パスワードリセットエラー</h1>
    <p>次のエラーが発生しました。</p>
    <p>パスワードリセットリンクが無効です。</br>再度お試しください</p>
    <a href="{% url 'accounts:password_reset' %}"> パスワード再設定ページへ</a>
{% endif %}