<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/css/password_reset_done.css' %}">
        <title>password_reset_done</title>
    </head>
    
    <body>
        <h1 class="title">TipTree</h1>

        <h2 class="sub-title">＜パスワード再設定のご案内＞</h2>

        <h3 class="message">
            以下のメールアドレスにパスワード再設定用のURLをお送りしました。<br>
            メールのご確認をお願いいたします。
        </h3>

        <p class="email">{{ email }}</p>

        <h4 class="announce">
            ・メールの受信までに数分かかる場合があります<br>
            ・Gmailをご利用の方は、迷惑メールフォルダや「プロモーション」タブもご確認ください。<br>
            ・メールが届かない場合は、しばらく待ってから再度お試しください。
        </h4>

        <a href="{% url 'accounts:login' %}" > ログイン画面</a>
    </body>
</html>