<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>password_reset</title>
</head>
<body>
    <h1>TipTree</h1>
    <h2>＜パスワード再設定のご案内＞</h2>
    <h3>ご登録いただいたメールアドレスにパスワード再設定のご案内を送信いたします。</h3></br>
    <h3>ご登録いただいたメールアドレスを入力し「送信」ボタンを押してください。</h3></br>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_email" class="form-label">メールアドレス</label>
        {{ form.email }}
        {% if form.email.errors %}
        <div class="text-danger small">
            {{ form.email.errors }}
        </div>
        {% endif %}
    </div>
    <div>
        <input type="submit" value="送信"><br>
        <a href="{% url 'accounts:login' %}"> ログイン画面に戻る</a>
    </div>
</form>
</body>