<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_form.css' %}">
    <title>password_reset</title>
</head>
<body>
    <h1 class="title">TipTree</h1>
    <h2 class="sub-title">＜パスワード再設定のご案内＞</h2>
    <h3 class="message">
    ご登録いただいたメールアドレスにパスワード再設定のご案内を送信いたします。<br>
    ご登録いただいたメールアドレスを入力し「送信」ボタンを押してください。
    </h3>

<form method="post" class="password-reset-form">
    {% csrf_token %}
    <div>
        <div class="form-item">
            <label for="id_email">メールアドレス</label>
            {{ form.email }}
        </div>

        {% if form.email.errors %}
        <small class="text-danger">
            {{ form.email.errors }}
        </small>
        {% endif %}
    </div>

    <div class="form-actions">
        <input type="submit" value="送信" class="send-btn">
        <a href="{% url 'accounts:login' %}" class="link"> ログイン画面に戻る</a>
    </div>
    
</form>
</body>